<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="urf-8">
    <title>寮点呼システム</title>
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/components/article.css">
    <link rel="stylesheet" href="/style/components/form.css">
    <link rel="stylesheet" href="/style/components/table.css">
</head>
<body>
    <%=yield%>
</body>
</html>