<%= erb :'components/header',
    :locals => {is_login: true, is_staff: false, user_name: @logined_student[:user][:name] }  %>
<main>
    <div class="contents-container">
        <div style="padding: 10px;"><%= @mes %></div>
    </div>

    <%= erb :'components/links', :locals => {links: @links }  %>
</main>